# Import

In [1]:
import os
import boto3
import pandas as pd
import matplotlib.pyplot as plt

# Reading Data

In [2]:
# Import of the dataset with January figures

flight_01 = pd.read_csv('https://niy-certification.s3.eu-central-1.amazonaws.com/usdot/Jan_2019_usdot.csv')

In [3]:
# Show the first input 5 rows ofthe Dataset

flight_01.head(5)

,YEAR,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,OP_UNIQUE_CARRIER,OP_CARRIER_AIRLINE_ID,OP_CARRIER,TAIL_NUM,OP_CARRIER_FL_NUM,...,ACTUAL_ELAPSED_TIME,AIR_TIME,FLIGHTS,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,Unnamed: 54
0,2019,1,11,5,2019-01-11,WN,19393,WN,N220WN,1480,...,133.0,118.0,1.0,834.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2019,1,11,5,2019-01-11,WN,19393,WN,N7889A,2199,...,138.0,119.0,1.0,834.0,NaN,NaN,NaN,NaN,NaN,NaN
2,2019,1,11,5,2019-01-11,WN,19393,WN,N764SW,402,...,153.0,141.0,1.0,1072.0,NaN,NaN,NaN,NaN,NaN,NaN
3,2019,1,11,5,2019-01-11,WN,19393,WN,N8309C,458,...,161.0,144.0,1.0,1072.0,NaN,NaN,NaN,NaN,NaN,NaN
4,2019,1,11,5,2019-01-11,WN,19393,WN,N8686A,1966,...,155.0,142.0,1.0,1072.0,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# Statistical insights of flight_01

flight_01.describe()

,YEAR,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,OP_CARRIER_AIRLINE_ID,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN_AIRPORT_SEQ_ID,ORIGIN_CITY_MARKET_ID,ORIGIN_STATE_FIPS,...,ACTUAL_ELAPSED_TIME,AIR_TIME,FLIGHTS,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,Unnamed: 54
count,638649.0,638649.0,638649.000000,638649.000000,638649.000000,638649.000000,638649.000000,6.386490e+05,638649.000000,638649.000000,...,617649.000000,617649.000000,638649.0,638649.000000,117144.000000,117144.000000,117144.000000,117144.000000,117144.000000,0.0
mean,2019.0,1.0,15.955094,3.836976,20012.644561,2700.871319,12690.345843,1.269038e+06,31776.883607,27.240260,...,135.159278,109.029140,1.0,765.250902,20.088609,4.410785,18.384826,0.073422,25.880882,NaN
std,0.0,0.0,8.989170,1.921977,396.177827,1861.933516,1520.775468,1.520773e+05,1316.122179,16.565184,...,71.762649,69.987785,0.0,579.910495,65.596080,38.353695,41.352734,3.051185,53.007365,NaN
min,2019.0,1.0,1.000000,1.000000,19393.000000,1.000000,10135.000000,1.013505e+06,30070.000000,1.000000,...,16.000000,4.000000,1.0,31.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN
25%,2019.0,1.0,8.000000,2.000000,19790.000000,1090.000000,11292.000000,1.129202e+06,30721.000000,12.000000,...,83.000000,58.000000,1.0,337.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN
50%,2019.0,1.0,16.000000,4.000000,19977.000000,2260.000000,12889.000000,1.288903e+06,31453.000000,26.000000,...,117.000000,90.000000,1.0,604.000000,0.000000,0.000000,5.000000,0.000000,0.000000,NaN
75%,2019.0,1.0,24.000000,5.000000,20378.000000,4183.000000,14057.000000,1.405702e+06,32575.000000,42.000000,...,166.000000,139.000000,1.0,1008.000000,16.000000,0.000000,21.000000,0.000000,30.000000,NaN
max,2019.0,1.0,31.000000,7.000000,21167.000000,9401.000000,16218.000000,1.621802e+06,36101.000000,78.000000,...,737.000000,691.000000,1.0,4983.000000,1638.000000,1416.000000,1447.000000,816.000000,1514.000000,NaN

In [5]:
# List of all columns. Delete column "Unnamed: 54" because of NaN

list(flight_01)

['YEAR',
 'MONTH',
 'DAY_OF_MONTH',
 'DAY_OF_WEEK',
 'FL_DATE',
 'OP_UNIQUE_CARRIER',
 'OP_CARRIER_AIRLINE_ID',
 'OP_CARRIER',
 'TAIL_NUM',
 'OP_CARRIER_FL_NUM',
 'ORIGIN_AIRPORT_ID',
 'ORIGIN_AIRPORT_SEQ_ID',
 'ORIGIN_CITY_MARKET_ID',
 'ORIGIN',
 'ORIGIN_CITY_NAME',
 'ORIGIN_STATE_ABR',
 'ORIGIN_STATE_FIPS',
 'ORIGIN_STATE_NM',
 'DEST_AIRPORT_ID',
 'DEST_AIRPORT_SEQ_ID',
 'DEST_CITY_MARKET_ID',
 'DEST',
 'DEST_CITY_NAME',
 'DEST_STATE_ABR',
 'DEST_STATE_FIPS',
 'DEST_STATE_NM',
 'CRS_DEP_TIME',
 'DEP_TIME',
 'DEP_DELAY',
 'DEP_DELAY_NEW',
 'DEP_DEL15',
 'DEP_DELAY_GROUP',
 'DEP_TIME_BLK',
 'WHEELS_OFF',
 'WHEELS_ON',
 'CRS_ARR_TIME',
 'ARR_TIME',
 'ARR_DELAY',
 'ARR_DELAY_NEW',
 'ARR_DEL15',
 'ARR_DELAY_GROUP',
 'ARR_TIME_BLK',
 'CANCELLED',
 'DIVERTED',
 'CRS_ELAPSED_TIME',
 'ACTUAL_ELAPSED_TIME',
 'AIR_TIME',
 'FLIGHTS',
 'DISTANCE',
 'CARRIER_DELAY',
 'WEATHER_DELAY',
 'NAS_DELAY',
 'SECURITY_DELAY',
 'LATE_AIRCRAFT_DELAY',
 'Unnamed: 54']

In [6]:
# Helperfunction


def info(dataframe):
  print('dataframe: =============================================================')  
  display(dataframe.head(5))
  print('SHAPE: =============================================================')
  display(dataframe.shape)
  print('info: =============================================================')
  display(dataframe.info())
  print('describe: =============================================================')
  display(dataframe.describe())
  print('dtypes: =============================================================')
  display(dataframe.dtypes)
  print('isnull: =============================================================')
  display(dataframe.isnull().sum())
  print('sample: =============================================================')
  display(dataframe.sample(5))
  print('=============================================================')

In [7]:
info(flight_01)

dataframe: =============================================================

,YEAR,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,OP_UNIQUE_CARRIER,OP_CARRIER_AIRLINE_ID,OP_CARRIER,TAIL_NUM,OP_CARRIER_FL_NUM,...,ACTUAL_ELAPSED_TIME,AIR_TIME,FLIGHTS,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,Unnamed: 54
0,2019,1,11,5,2019-01-11,WN,19393,WN,N220WN,1480,...,133.0,118.0,1.0,834.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2019,1,11,5,2019-01-11,WN,19393,WN,N7889A,2199,...,138.0,119.0,1.0,834.0,NaN,NaN,NaN,NaN,NaN,NaN
2,2019,1,11,5,2019-01-11,WN,19393,WN,N764SW,402,...,153.0,141.0,1.0,1072.0,NaN,NaN,NaN,NaN,NaN,NaN
3,2019,1,11,5,2019-01-11,WN,19393,WN,N8309C,458,...,161.0,144.0,1.0,1072.0,NaN,NaN,NaN,NaN,NaN,NaN
4,2019,1,11,5,2019-01-11,WN,19393,WN,N8686A,1966,...,155.0,142.0,1.0,1072.0,NaN,NaN,NaN,NaN,NaN,NaN

SHAPE: =============================================================

(638649, 55)

info: =============================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 638649 entries, 0 to 638648
Data columns (total 55 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   YEAR                   638649 non-null  int64
 1   MONTH                  638649 non-null  int64
 2   DAY_OF_MONTH           638649 non-null  int64
 3   DAY_OF_WEEK            638649 non-null  int64
 4   FL_DATE                638649 non-null  object
 5   OP_UNIQUE_CARRIER      638649 non-null  object
 6   OP_CARRIER_AIRLINE_ID  638649 non-null  int64
 7   OP_CARRIER             638649 non-null  object
 8   TAIL_NUM               633964 non-null  object
 9   OP_CARRIER_FL_NUM      638649 non-null  int64
 10  ORIGIN_AIRPORT_ID      638649 non-null  int64
 11  ORIGIN_AIRPORT_SEQ_ID  638649 non-null  int64
 12  ORIGIN_CITY_MARKET_ID  638649 non-null  int64
 13  ORIGIN                 638649 non-null  object
 14  ORIGIN_CITY_NAME       638649 non-null  object
 15  ORIGIN_STATE_ABR       638649 non-null  object
 16  ORIGIN_STATE_FIPS      638649 non-null  int64
 17  ORIGIN_STATE_NM        638649 non-null  object
 18  DEST_AIRPORT_ID        638649 non-null  int64
 19  DEST_AIRPORT_SEQ_ID    638649 non-null  int64
 20  DEST_CITY_MARKET_ID    638649 non-null  int64
 21  DEST                   638649 non-null  object
 22  DEST_CITY_NAME         638649 non-null  object
 23  DEST_STATE_ABR         638649 non-null  object
 24  DEST_STATE_FIPS        638649 non-null  int64
 25  DEST_STATE_NM          638649 non-null  object
 26  CRS_DEP_TIME           638649 non-null  int64
 27  DEP_TIME               619550 non-null  float64
 28  DEP_DELAY              619547 non-null  float64
 29  DEP_DELAY_NEW          619547 non-null  float64
 30  DEP_DEL15              619547 non-null  float64
 31  DEP_DELAY_GROUP        619547 non-null  float64
 32  DEP_TIME_BLK           638649 non-null  object
 33  WHEELS_OFF             619253 non-null  float64
 34  WHEELS_ON              618710 non-null  float64
 35  CRS_ARR_TIME           638649 non-null  int64
 36  ARR_TIME               618710 non-null  float64
 37  ARR_DELAY              617649 non-null  float64
 38  ARR_DELAY_NEW          617649 non-null  float64
 39  ARR_DEL15              617649 non-null  float64
 40  ARR_DELAY_GROUP        617649 non-null  float64
 41  ARR_TIME_BLK           638649 non-null  object
 42  CANCELLED              638649 non-null  float64
 43  DIVERTED               638649 non-null  float64
 44  CRS_ELAPSED_TIME       638641 non-null  float64
 45  ACTUAL_ELAPSED_TIME    617649 non-null  float64
 46  AIR_TIME               617649 non-null  float64
 47  FLIGHTS                638649 non-null  float64
 48  DISTANCE               638649 non-null  float64
 49  CARRIER_DELAY          117144 non-null  float64
 50  WEATHER_DELAY          117144 non-null  float64
 51  NAS_DELAY              117144 non-null  float64
 52  SECURITY_DELAY         117144 non-null  float64
 53  LATE_AIRCRAFT_DELAY    117144 non-null  float64
 54  Unnamed: 54            0 non-null       float64
dtypes: float64(25), int64(16), object(14)
memory usage: 268.0+ MB

None

describe: =============================================================

,YEAR,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,OP_CARRIER_AIRLINE_ID,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN_AIRPORT_SEQ_ID,ORIGIN_CITY_MARKET_ID,ORIGIN_STATE_FIPS,...,ACTUAL_ELAPSED_TIME,AIR_TIME,FLIGHTS,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,Unnamed: 54
count,638649.0,638649.0,638649.000000,638649.000000,638649.000000,638649.000000,638649.000000,6.386490e+05,638649.000000,638649.000000,...,617649.000000,617649.000000,638649.0,638649.000000,117144.000000,117144.000000,117144.000000,117144.000000,117144.000000,0.0
mean,2019.0,1.0,15.955094,3.836976,20012.644561,2700.871319,12690.345843,1.269038e+06,31776.883607,27.240260,...,135.159278,109.029140,1.0,765.250902,20.088609,4.410785,18.384826,0.073422,25.880882,NaN
std,0.0,0.0,8.989170,1.921977,396.177827,1861.933516,1520.775468,1.520773e+05,1316.122179,16.565184,...,71.762649,69.987785,0.0,579.910495,65.596080,38.353695,41.352734,3.051185,53.007365,NaN
min,2019.0,1.0,1.000000,1.000000,19393.000000,1.000000,10135.000000,1.013505e+06,30070.000000,1.000000,...,16.000000,4.000000,1.0,31.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN
25%,2019.0,1.0,8.000000,2.000000,19790.000000,1090.000000,11292.000000,1.129202e+06,30721.000000,12.000000,...,83.000000,58.000000,1.0,337.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN
50%,2019.0,1.0,16.000000,4.000000,19977.000000,2260.000000,12889.000000,1.288903e+06,31453.000000,26.000000,...,117.000000,90.000000,1.0,604.000000,0.000000,0.000000,5.000000,0.000000,0.000000,NaN
75%,2019.0,1.0,24.000000,5.000000,20378.000000,4183.000000,14057.000000,1.405702e+06,32575.000000,42.000000,...,166.000000,139.000000,1.0,1008.000000,16.000000,0.000000,21.000000,0.000000,30.000000,NaN
max,2019.0,1.0,31.000000,7.000000,21167.000000,9401.000000,16218.000000,1.621802e+06,36101.000000,78.000000,...,737.000000,691.000000,1.0,4983.000000,1638.000000,1416.000000,1447.000000,816.000000,1514.000000,NaN

dtypes: =============================================================

YEAR                       int64
MONTH                      int64
DAY_OF_MONTH               int64
DAY_OF_WEEK                int64
FL_DATE                   object
OP_UNIQUE_CARRIER         object
OP_CARRIER_AIRLINE_ID      int64
OP_CARRIER                object
TAIL_NUM                  object
OP_CARRIER_FL_NUM          int64
ORIGIN_AIRPORT_ID          int64
ORIGIN_AIRPORT_SEQ_ID      int64
ORIGIN_CITY_MARKET_ID      int64
ORIGIN                    object
ORIGIN_CITY_NAME          object
ORIGIN_STATE_ABR          object
ORIGIN_STATE_FIPS          int64
ORIGIN_STATE_NM           object
DEST_AIRPORT_ID            int64
DEST_AIRPORT_SEQ_ID        int64
DEST_CITY_MARKET_ID        int64
DEST                      object
DEST_CITY_NAME            object
DEST_STATE_ABR            object
DEST_STATE_FIPS            int64
DEST_STATE_NM             object
CRS_DEP_TIME               int64
DEP_TIME                 float64
DEP_DELAY                float64
DEP_DELAY_NEW            float64
DEP_DEL15                float64
DEP_DELAY_GROUP          float64
DEP_TIME_BLK              object
WHEELS_OFF               float64
WHEELS_ON                float64
CRS_ARR_TIME               int64
ARR_TIME                 float64
ARR_DELAY                float64
ARR_DELAY_NEW            float64
ARR_DEL15                float64
ARR_DELAY_GROUP          float64
ARR_TIME_BLK              object
CANCELLED                float64
DIVERTED                 float64
CRS_ELAPSED_TIME         float64
ACTUAL_ELAPSED_TIME      float64
AIR_TIME                 float64
FLIGHTS                  float64
DISTANCE                 float64
CARRIER_DELAY            float64
WEATHER_DELAY            float64
NAS_DELAY                float64
SECURITY_DELAY           float64
LATE_AIRCRAFT_DELAY      float64
Unnamed: 54              float64
dtype: object

isnull: =============================================================

YEAR                          0
MONTH                         0
DAY_OF_MONTH                  0
DAY_OF_WEEK                   0
FL_DATE                       0
OP_UNIQUE_CARRIER             0
OP_CARRIER_AIRLINE_ID         0
OP_CARRIER                    0
TAIL_NUM                   4685
OP_CARRIER_FL_NUM             0
ORIGIN_AIRPORT_ID             0
ORIGIN_AIRPORT_SEQ_ID         0
ORIGIN_CITY_MARKET_ID         0
ORIGIN                        0
ORIGIN_CITY_NAME              0
ORIGIN_STATE_ABR              0
ORIGIN_STATE_FIPS             0
ORIGIN_STATE_NM               0
DEST_AIRPORT_ID               0
DEST_AIRPORT_SEQ_ID           0
DEST_CITY_MARKET_ID           0
DEST                          0
DEST_CITY_NAME                0
DEST_STATE_ABR                0
DEST_STATE_FIPS               0
DEST_STATE_NM                 0
CRS_DEP_TIME                  0
DEP_TIME                  19099
DEP_DELAY                 19102
DEP_DELAY_NEW             19102
DEP_DEL15                 19102
DEP_DELAY_GROUP           19102
DEP_TIME_BLK                  0
WHEELS_OFF                19396
WHEELS_ON                 19939
CRS_ARR_TIME                  0
ARR_TIME                  19939
ARR_DELAY                 21000
ARR_DELAY_NEW             21000
ARR_DEL15                 21000
ARR_DELAY_GROUP           21000
ARR_TIME_BLK                  0
CANCELLED                     0
DIVERTED                      0
CRS_ELAPSED_TIME              8
ACTUAL_ELAPSED_TIME       21000
AIR_TIME                  21000
FLIGHTS                       0
DISTANCE                      0
CARRIER_DELAY            521505
WEATHER_DELAY            521505
NAS_DELAY                521505
SECURITY_DELAY           521505
LATE_AIRCRAFT_DELAY      521505
Unnamed: 54              638649
dtype: int64

sample: =============================================================

,YEAR,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,OP_UNIQUE_CARRIER,OP_CARRIER_AIRLINE_ID,OP_CARRIER,TAIL_NUM,OP_CARRIER_FL_NUM,...,ACTUAL_ELAPSED_TIME,AIR_TIME,FLIGHTS,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,Unnamed: 54
15881,2019,1,28,1,2019-01-28,OH,20397,OH,N537EA,5211,...,166.0,124.0,1.0,814.0,0.0,3.0,10.0,0.0,67.0,NaN
480452,2019,1,27,7,2019-01-27,9E,20363,9E,N319PQ,3388,...,140.0,114.0,1.0,888.0,NaN,NaN,NaN,NaN,NaN,NaN
200440,2019,1,23,3,2019-01-23,AA,19805,AA,N922US,1817,...,108.0,92.0,1.0,632.0,NaN,NaN,NaN,NaN,NaN,NaN
611907,2019,1,10,4,2019-01-10,OO,20304,OO,N951SW,5367,...,179.0,145.0,1.0,833.0,NaN,NaN,NaN,NaN,NaN,NaN
614706,2019,1,12,6,2019-01-12,OO,20304,OO,N755EV,2951,...,83.0,59.0,1.0,335.0,NaN,NaN,NaN,NaN,NaN,NaN

=============================================================

# Start with Exploratory Data Analysis

In [8]:
# Content of a strange column
flight_01['Unnamed: 54']

# -----> Delete column "Unnamed: 54" because of NaN

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
          ..
638644   NaN
638645   NaN
638646   NaN
638647   NaN
638648   NaN
Name: Unnamed: 54, Length: 638649, dtype: float64

In [9]:
# Number of flights for each airport

flight_01.groupby(['ORIGIN_CITY_NAME', 'ORIGIN_AIRPORT_ID'])['FLIGHTS'].value_counts().sort_values(ascending=True)

ORIGIN_CITY_NAME       ORIGIN_AIRPORT_ID  FLIGHTS
Atlanta, GA            10397              1.0        31207
Chicago, IL            13930              1.0        31064
Dallas/Fort Worth, TX  11298              1.0        23132
Denver, CO             11292              1.0        21540
Charlotte, NC          11057              1.0        20769
                                                     ...
Pago Pago, TT          14222              1.0           11
Hagerstown, MD         12119              1.0           10
Owensboro, KY          13983              1.0            9
Adak Island, AK        10165              1.0            9
Ogden, UT              13829              1.0            8
Name: FLIGHTS, Length: 360, dtype: int64

- Airport with the most delays

In [33]:
flight_01['DEP_DEL15'].unique()

array([ 0.,  1., nan])

In [35]:
flight_01['ARR_DEL15'].unique()

array([ 0.,  1., nan])